doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title MVP
    body 
        .cage 
            .cage-tile.cage-tile--enemy.cage-tile--land  
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water  
            .cage-tile.cage-tile--water  
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water  
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water  
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land  
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--our.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land  

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land 
            .cage-tile.cage-tile--our.cage-tile--land   
            
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land  

            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--enemy.cage-tile--land   
            .cage-tile.cage-tile--land  
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--water
            .cage-tile.cage-tile--grass 
            .cage-tile.cage-tile--grass
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--land 
            .cage-tile.cage-tile--our.cage-tile--land   
            .cage-tile.cage-tile--our.cage-tile--land   
        .panel 
            .panel-row 
                .panel-header Interface
            .panel-row 
                .panel-card 
                    img(src="./assets/images/content/sea.png", alt="")
                .panel-card 
                    img(src="./assets/images/content/front.png", alt="")
                .panel-card 
                    img(src="./assets/images/content/general.png", alt="")
                .panel-card 
                    img(src="./assets/images/content/delete.png", alt="")
        script(src="./assets/js/main.min.js") 